{{template "base/head" .}}
<div class="user settings account">
	{{template "user/settings/navbar" .}}
	<div class="ui container">
		<h4 class="ui top attached header">
			{{.i18n.Tr "settings.manage_themes"}}
		</h4>
		<div class="ui attached segment">
			<div class="ui email list">
				<div class="item">
					{{.i18n.Tr "settings.theme_desc"}}
				</div>

			<form class="ui form" action="{{.Link}}/theme" method="post">
				{{.CsrfTokenHtml}}
					<div class="field">
						<label for="ui">{{.i18n.Tr "settings.ui"}}</label>
						<div class="ui selection dropdown" id="ui">
							<input name="theme" type="hidden" value="{{.SignedUser.Theme}}">
							<i class="dropdown icon"></i>
							<div class="text">
								{{range $i,$a := .AllThemes}}
									{{if eq $.SignedUser.Theme $a}}{{$a}}{{end}}
								{{end}}
							</div>

							<div class="menu">
							{{range $i,$a := .AllThemes}}
								<div class="item{{if eq $.SignedUser.Theme $a}} active selected{{end}}" data-value="{{$a}}">
									{{$a}}
								</div>
							{{end}}
							</div>
						</div>
					</div>

				<div class="field">
					<button class="ui green button">{{$.i18n.Tr "settings.update_theme"}}</button>
				</div>
			</form>
			</div>
		</div>
	</div>
</div>

{{template "base/footer" .}}
